.header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.link_list {
  display: flex;
  justify-content: space-evenly;
}
.header_title {
  font-size: 2rem;
}
.header_nav {
  width: 100%;
}
