@import "../core/variables.scss";

.header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: $title_font;
  background-color: $secondary_bg_color;
  color: $secondary_text_color;
}
.link_list {
  display: flex;
  justify-content: space-evenly;
}
.header_title {
  font-size: 2rem;
}
.header_nav {
  width: 100%;
}

@mixin links {
  font-size: 1.5rem;
  color: $links_color;
  &:hover {
    color: $links_hover_color;
  }
}

.link {
  @include links();
}

.active_link {
  @include links();
  text-decoration: underline 2px $links_color;
}
