@mixin text {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 20px;
}
.paragraph {
  @include text();
  text-align: justify;
}
.list {
  @include text();
  list-style: circle inside;
  line-height: 1.5rem;
  margin-left: 20px;
}
.container {
  width: 80%;
  @media all and (max-width: 500px) {
    width: 100%;
  }
}
