// colors

$page_bg_color: #2b4657;
$secondary_bg_color: #abc8b6;
$cubboard_color: #c83444;
$merch_container_color: #2d2d2d;
$modal_primary_color: #f77400;
$modal_secondary_color: #272c18;

$text_color: #ffffff;
$secondary_text_color: #2d2d2d;
$links_color: #c83444;
$links_hover_color: #e47a02;

$color2: #68492a;

$color5: #bb8642;
$color7: #776037;
$color9: #a4c4a4;

// fonts:
@font-face {
  font-family: "mandalore";
  src: url("../fonts/mandalore.ttf") format("truetype");
}

$title_font: "mandalore", sans-serif;
$text_font: "Roboto", sans-serif;
