@import "../core/variables.scss";

.article {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.img {
  width: 100%;
  box-shadow: 0 0 10px 2px black;
  border-radius: 4px;
  @media all and (min-width: 500px) {
    width: 80%;
  }
}

.message {
  font-size: 1.5rem;
  margin: 10px 0;
}

.button {
  font-size: 1.5rem;
  padding: 6px 8px;
  border-radius: 5px;
  border: solid 4px $modal_secondary_color;
  font-family: $title_font;
  &:hover {
    filter: drop-shadow(2px 2px 1px black);
  }
}
