@import "../core/variables.scss";
.section {
  height: 73vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: $button_primary_color;
  padding: 6px 10px;
  border-radius: 12px;
  border: solid 4px $button_secondary_color;
  font-size: 2rem;
  cursor: pointer;
  font-family: $title_font;
  color: $button_secondary_color;
  &:hover {
    color: $button_hover_color;
    border-color: $button_hover_color;
    filter: drop-shadow(2px 2px 1px black);
  }
}
.merch_cupboard {
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 8px;
  background-color: $cubboard_color;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box3";
  gap: 10px;
  @media all and (max-width: 500px) {
    width: 20%;
  }
}

@mixin merch_item {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $merch_container_color;
  border: solid 3px beige;
  border-radius: 11px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  @media all and (max-width: 500px) {
    font-size: 1rem;
  }
}
.merch_item1 {
  @include merch_item();
  grid-area: box1;
}
.merch_item2 {
  @include merch_item();
  grid-area: box2;
}
.merch_item3 {
  @include merch_item();
  grid-area: box3;
}

.spaceship_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  @media all and (max-width: 768px) {
    gap: 5px;
  }
}

.grogu {
  width: 10%;
  @media all and (max-width: 500px) {
    width: 8%;
  }
}

.grogu_img {
  width: 100%;
}

.hidden {
  display: none;
}
