.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: papayawhip;
  padding: 6px 10px;
  border-radius: 12px;
  border: solid 4px black;
  font-size: 2rem;
}
.merch_cupboard {
  width: 200px;
  height: 300px;
  padding: 10px;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "box1"
    "box2"
    "box3";
  gap: 10px;
}

@mixin merch_item {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: green;
  border: solid 3px beige;
  border-radius: 11px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.merch_item1 {
  @include merch_item();
  grid-area: box1;
}
.merch_item2 {
  @include merch_item();
  grid-area: box2;
}
.merch_item3 {
  @include merch_item();
  grid-area: box3;
}

.spaceship_section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grogu {
  width: 10%;
}

.grogu_img {
  width: 100%;
}

.hidden {
  display: none;
}
