@mixin box {
  width: 10%;
  height: 100px;
  border-radius: 4px;
  @media all and (max-width: 500px) {
    width: 12%;
  }
}

.regular_box {
  @include box();
  background-color: gray;
}

.current_box {
  @include box();
  background-color: yellow;
  background-image: url("../../images/grogu.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
