@import "../core/variables.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eeec;
  .modal__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__content {
      padding: 1rem;
      border-radius: 0.5rem;
      border: solid 5px $color8;
      box-shadow: 0 0 7px 7px rgba(55, 255, 20, 0.521);
      background-color: $color6;
      width: 60%;
      @media all and (max-width: 1200px) {
        width: 80%;
      }
    }
  }
}
